@charset "UTF-8";

:root{
    --bg-color: #141414;
    --main-color:#d136d1;
    --text-color:#fff;
    --bg-gradient:linear-gradient(
        135deg,
        #0e002e 0%,
        #1e092b 23%,
        #320c65 49%,
        #a01b7c 80%,
        #c21780 100%
      );
      --bg-gradient2:linear-gradient(
        #0e002e,
        #c21780
      );
}

/*********************************
全体
*********************************/

body{
    font-family: "Montserrat", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
    font-size:16px;
    letter-spacing: 0.05em;
    color:var(--text-color);
    background-color: var(--bg-color);
    font-feature-settings: "palt";/*プロポーショナルアルタナティブ：文字間隔の自動カーニング*/
}
img{
    max-width:100%;
    height: auto;
    vertical-align: bottom;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.pc{
    display:block;
}
.sp{
    display: none;
}

.content{
    display: block;
}
.container{
    max-width:1170px;
    padding:0 30px;
    margin:0 auto;
}

.section{
    padding:110px 0;
}

.section_heading{
    text-align:center;
    margin-bottom:60px;
}
.heading_title{
    font-size:60px;
    font-weight: bold;
    color:var(--main-color);
    line-height: 1;
}
.heading_subtitle{
    display: block;
    font-size:20px;
    color:#fff;
    margin-top:0.1em;
}

/******************************************
ヘッダー
******************************************/
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:90px;
    padding:30px;
    position: fixed;
    z-index:10;
}
.header__logo{
    font-size:28px;
    color:var(--main-color);
    line-height:1;
    font-weight: bold;
}
.gnav__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap:30px;
}
.gnav__item{
    font-size:15px;
    font-weight: bold;
    line-height: 1;
    letter-spacing:0.05em;
    text-transform: uppercase; /*小文字を大文字に変換する*/
}
.gnav__link{
    color:#fff;
    text-decoration: none;
}

/********************************************************
mv
*********************************************************/
.mv{
    background: var(--bg-gradient);
}

.mv__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:nowrap;
    position:relative;
    max-width: 1240px;
    height:700px;
    margin:0 auto;
    padding:0 50px;
    background-image: url("img/mv.png");
    background-size:560px 737px;
    background-repeat: no-repeat;
    background-position:right bottom;
}
.mv__titleArea{
    position:relative;
}
.mv__titleArea::after{
    display: block;
    content:"";
    position:absolute;
    right:20px;
    bottom:30px;
    width:326px;
    height:68px;
    background-image: url("img/teiji-de-kaerumon.svg");
    background-repeat:no-repeat;
    background-size:contain;
}

.mv__subtitle{
    color:var(--main-color);
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}
.mv__title{
    color:#fff;
    font-size:clamp(24px,10vw,100px);
    font-weight:bold;
    line-height: 1;
}
.mv__date{
    color:#fff;
    font-size:32px;
    font-weight: bold;
    letter-spacing:0.08em;
}
.mv__btn{
    margin-top:2em;
}
.btn{
    display: inline-block;
    width:300px;
    border-radius:100px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.08em;
    padding:24px 0;
    text-align: center;
    background:linear-gradient(
        135deg,#a01b7c 0%,#320c65 100%
        );
    box-shadow: 0 10px 0 #dd118e;
    transition: all 0.5s ease;
}
.btn:hover{
    transform: translateY(5px);
    box-shadow: 0 5px 0 #dd118e;
}
.mv__speaker-name{
    position:absolute;
    right:20px;
    bottom:20px;
    font-size:21px;
    line-height: 1;
}
.mv__speaker-name-small{
    font-size:0.8em;
}
.mv__speaker-name-label{
    font-size:14px;
}

/********************************************************
about
*********************************************************/


.about__body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: normal;
    column-gap: 70px;
}
.about__img-wrapper{
    flex:0 1 40%;
}
.about__img{
    max-width:100%;
    height: auto;
    vertical-align: bottom;
}
.about__desc{
    flex:1;
}
.about__subtitle{
    font-size:20px;
    color:#fff;
    margin-bottom:1em;
}
.about__title{
    font-size:50px;
    color:var(--main-color);
    font-weight: bold;
    line-height: 1;
    margin-bottom:0.5em;
}
.about__info{
    font-size:18px;
    line-height: 1.8;
    color:#fff;
    margin-bottom:1em;
}
.table-type01{
    width:100%;
    border-collapse: collapse;
    border-style:none;
}
.table-type01 th,td{
    text-align:left;
    padding:5px 0;
}
.about__btn{
    margin-top:20px;
}


/********************************************************
SPEAKER
*********************************************************/
.speaker{
    background:var(--bg-gradient);
}
.speaker-list{
    display: flex;
    flex-direction: column;
    row-gap:60px;
}

.speaker-box{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
    column-gap: 60px;
}
/*偶数のboxコンテンツに関しては左右逆転*/
.speaker-box:nth-child(2n){
    flex-direction: row-reverse;
}
.speaker-box__desc{
    flex:1;
}

.speaker-box__img{
    flex:0 1 40%;
}

.speaker-box__name{
color: var(--main-color);
font-size:40px;
font-weight: bold;
line-height: 1;
margin-bottom:30px;
}
.speaker-box__name-note{
    display:block;
    font-size: 18px;
    color:#fff;
    font-weight: bold;
    line-height: 1;
    margin-top:10px;
}
.speaker-box__text{
    line-height: 1.8;
}

.table-type02{
    width:100%;
    border-collapse: collapse;
    border-style:none;
}
.table-type02 tr{
    border-bottom: 1px solid var(--main-color);
}
.table-type02 th{
    width:200px;
    text-align:left;
    padding:40px 30px;
}
.table-type02 td{
    text-align:left;
    padding:40px 0 30px;
}
.session-table__time{
    font-size:22px;
}
.session-table__title{
    font-size:22px;
    color: var(--main-color);
    font-weight: bold;
    margin-bottom:15px;
}
.table-type02 p{
    color: #fff;
    font-size:15px;
    font-weight: normal;
    line-height: 1.3;
}

/********************************************************
REGISTOR
*********************************************************/
.registor{
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.registor_form{
    color:#fff;
    background-color:var(--bg-color);
    border-radius: 20px;
    border: 5px solid var(--main-color);
    padding:40px;
}

.form__item{
    margin-bottom:30px;
}
.form__title{
    display: block;
    font-weight: bold;
    margin-bottom:10px;
}
.form__require{
    margin-left:10px;
    font-size:0.7em;
    color: var(--main-color);
}
.form__radio{
    display: flex;
    flex-direction: row;
}
.form__radio--item{
    margin-right:20px;
}
.form__input{
    display: block;
    width: 300px;
    height: auto;
    color:#000;
    background-color: var(--text-color);
    padding:5px;
    border-radius: 4px;
}
.form__note{
    font-size: 0.8em;
}
.form__textarea{
    display: block;
    width: 600px;
    min-height: 200px;
    color:#000;
    background-color: var(--text-color);
    padding:5px;
    border-radius: 4px;
}

.form__select{
    width: 300px;
    color:#000;
    background-color: var(--text-color);
    padding:5px;
    border-radius: 4px;
}
.form__btn{
    text-align: center;
    margin:50px auto 0;
}

/*********************************************
footer
**********************************************/
.footer{
    width:100%;
    font-size:10px;
    text-align: center;
    padding:60px 0;
    background-color: var(--bg-color);
}

/*********************************************
ページトップ遷移ボタン
**********************************************/
.page-top{
    display: block;
    position:fixed;
    right:20px;
    bottom:20px;
    width:80px;
    height:80px;
    background: linear-gradient(135deg, #c41a7f 0%,#664bbf 100%);
    border-radius: 50%;
    cursor: pointer;
}
.page-top__link{
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined.page-top__icon{ /*iconサイズ調整*/
    font-size:40px;
}

/* SP・タブレットサイズまでのCSS
**********************************************************/
@media screen and (max-width:767px){
body{
    font-size:15px;
}
.pc{
    display:none;
}
.sp{
    display:block;
}
.section{
    padding:50px 0;
}
.container{
    padding: 0 20px;
}

/*ヘッダー*/
.header{
    height:60px;
    padding:20px;
}
.header__logo{
    width:107px;
}
.gnav__list{
    column-gap:15px;
}
.gnav__item{
    font-size:12px;
}

/*mv*/
.mv__inner{
    position:relative;
    height:450px;
    padding:0 30px;
    background-position:right -80px bottom;
}
.mv__titleArea{
    position:relative;
}
.mv__titleArea::after{
    right:-10px;
    bottom:60px;
    width:150px;
    height:68px;
}

.mv__subtitle{
    font-size: 16px;
    margin-bottom:1em;
}
.mv__title{
    margin-bottom:0.3em;
}
.mv__date{
    font-size:16px;
}

/*申し込みボタン*/
.btn{
    width:200px;
    padding:24px 0;

}
.mv__speaker-name{
    font-size:14px;
}
.mv__speaker-name-small{
    font-size:0.8em;
}
.mv__speaker-name-label{
    font-size:8px;
}

/*about*/
.section_heading{
    text-align:center;
    margin-bottom:30px;
}
.heading_title{
    font-size:30px;
}
.heading_subtitle{
    font-size:14px;
}

.about__body{
    flex-direction: column;
    row-gap: 30px;
}
.about__img-wrapper{
    flex:0 1 40%;
}
.about__img{
    max-width:100%;
    height: 200px;
    object-fit: cover; /*heightサイズの画像をcoverで表示*/
    object-position: center 38%;/*左右方向が中央、上下方向が上から３８％に画像を配置*/
}
.about__desc{
    flex:1;
}
.about__subtitle{
    font-size:20px;
}
.about__title{
    font-size:40px;
}
.about__info{
    font-size:16px;
    line-height: 1.6;
    margin-bottom:1em;
}
.table-type01{
    width:100%;
    border-collapse: collapse;
    border-style:none;
}
.table-type01 th,td{
    text-align:left;
    padding:5px 0;
}
.about__btn{
    margin-top:20px;
}

/*SPEAKER*/
.speaker-box{
    flex-direction: column-reverse;
}
.speaker-box:nth-child(2n){
    flex-direction: column-reverse;
}

.speaker-box__name{
color: var(--main-color);
font-size:30px;
margin-bottom:20px;
margin-top:20px;
}
.speaker-box__name-note{
    display:block;
    font-size: 18px;
    color:#fff;
    font-weight: bold;
    line-height: 1;
    margin-top:10px;
}
.speaker-box__text{
    line-height: 1.8;
}

/*SESSION*/
.table-type02 th{
    width:80px;
    padding:20px 10px;
}
.table-type02 td{
    padding:20px 0 10px;
}
.session-table__time{
    font-size:16px;
}
.session-table__title{
    font-size:16px;
    margin-bottom:10px;
}
.table-type02 p{
    font-size:12px;
    line-height: 1.2;
}

/*REGISTORお申し込み*/
.registor_form {
    padding:20px;
}
.form__radio{
    flex-direction: column;
}
.form__item{
    width:100%;
}
.form__title{
    margin-bottom:10px;
}
.form__input{
    width: 100%;
}
.form__textarea{
    width:100%;
}
.form__select{
    width: 100%;
}
.form__btn{
    margin:30px auto 10px;
}

/*page遷移ボタン*/
.page-top{
    width:50px;
    height:50px;
}
.page-top__link{
    width: 50px;
    height: 50px;
}

.material-symbols-outlined.page-top__icon{ /*iconサイズ調整*/
    font-size:20px;
}

}